#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  font-weight: 100;
  
}

.restaurant-container{
  margin-top: 30px;
  background-color: green;
  font-weight: 100;
  border-radius:1000px;
  
}