


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color-scheme: light dark;
  color: rgba(216, 92, 92, 0.87);
  background-color: #242424;
  background-image: url("./assets//food-background.jpg");
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280;
  margin: 0 auto;
  
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** restaurant randomizer*//

.restaurant-container{
  width:400px;
  height: 210px;
  margin-top: 30px;
  font-weight: 100;
  border-radius:100px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1); /* Transparent black background */

}




/** commenet section  */



.comment-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.comment-text {
  margin: 12px 0;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-box {
  height: 75px;
  width: 465px;
  background-color: #373030;

}

.comment-button {
  height: 40px;
  width: 110px;
  background-color: #2d9279;
  color: white;
  font-size: 1.05rem;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  margin-right: 10px;
}